{#
/**
 * @file
 * Button component
 *
 * Variables:
 * - label: The button label
 * - variant: The button variant (primary, secondary)
 * - disabled: Whether the button is disabled
 */
#}

<button class="button button--{{ variant }} {% if disabled %}button--disabled{% endif %}" {% if disabled %}disabled{% endif %}>
  {{ label }}
</button>
